
/Project/ManaManaCatch/.vs
/Project/ManaManaCatch/.vsconfig
/Project/ManaManaCatch/*.sln
/Project/ManaManaCatch/*.csproj
/Project/ManaManaCatch/Library
/Project/ManaManaCatch/Logs
/Project/ManaManaCatch/obj
/Project/ManaManaCatch/Temp
/Project/ManaManaCatch/UserSettings